.grid-container {
  margin: 20px;
  
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.progress-bar {
 width: 100%;
 height: -100px;
}
.centered-heading {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.dashboard-card-content {
  text-align: center;
}

/* HEADER START */
.anchored-row-top {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000; 
}

.url-error-message{
  font-size: 15px;
  margin-top: 5%;
}

.example-spacer {
  flex: 1 1 auto;
}

.frontcard {
  height: 60%; 
  display: flex;
  width: 100%;
  justify-content: center; 
  align-items: center;
  flex-direction: column;
  gap: 60px;
}

.frontcard button {
  height: 55px;
  margin-left: 50px;
}

.frontcard h1 {
  opacity: 0.8; 
  display: block; 
  text-align: center; 
  margin: 0 auto;
  top: 10px; 
  font-size: 24px; 
  font-family: "Arial", sans-serif; 
  font-weight: bold;
  
}

@media (max-width: 600px) {
  .frontcard {
    height: 80px; 
  }
}


/* HEADER END */

/* BODY START */
.body {
  background-color: #212121;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;

}

/*------- body instructions text div -----------*/
.body-toolbar {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: bold;
}

.card-container {
  color: white; // Text color
  padding: 20px;
  border-radius: 5px;
  width: 400px; // Adjust the width as needed
}

.title-group {
  text-align: center;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.subtitle {
  font-size: 18px;
}
/*------- body instructions figures div -----------*/
.body-instructions-figures {
  display: flex;
  justify-content: center;
  gap: 30px; // Adjust the gap between cards
  flex-wrap: wrap;
}

.header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

/* BODY END */

/* FOOTER START */
.footer {

  bottom: 0;
  width: 100%;
  height: 5px;
  z-index: 1000; /* Ensure it's above other content */
}

.footer-toolbar {
  height: 40px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);}

.footer-toolbar h4 {
  font-size: 15px;
}

.fill-remaining-space {
  flex: 1;
}

/* FOOTER END */