<!--Header div-->
<app-header></app-header>

<mat-toolbar class="frontcard" color="primary">
    <section class="calling-card">
      <span><h1>WebTaxi</h1></span>
    </section>
</mat-toolbar>
<!--Body div-->
<div class="body">
<mat-toolbar class="body-toolbar">
  <router-outlet></router-outlet>
</mat-toolbar>
</div>

<!--Footer div-->
<div class="footer">
<mat-toolbar color="primary" class="footer-toolbar">
  <div class="footer-content">
    <span class="fill-remaining-space"></span>
    <h4>© PSI01 - WebTaxi.</h4>
  </div>
</mat-toolbar>
</div>
